@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

/*enable our hypertext transition smooth*/
html {
  scroll-behavior: smooth;
}
/*for setting our navbar size and position*/
.max-width {
  max-width: 1300px;
  padding: 0px 80px;
  margin: auto;
}
/*styling nav bar and allowing this nav to access our font*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0px;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.5s ease-in-out;
}
/* this displays horizontally and create space b/n them*/
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* for coloring our hyper links and setting fonts*/
.navbar .logo a {
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  transition: color 0.6s ease-in-out;
}
/*styling our logo for better effect*/
.navbar .logo a:hover {
  color: brown;
}
.navbar .logo a span {
  color: royalblue;
}
.navbar .sticky .logo a span {
  color: white;
}
/*styling our list making our list horizontal*/
.navbar .menu li {
  list-style-type: none;
  display: inline-block;
}
/* styling our list font color */
.navbar .menu li a {
  display: block;
  color: azure;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  padding: 4px 4px;
  transition: 0.5s ease-in-out;
}
/*improve our link styling */
.navbar .menu li a:hover {
  background: rgba(245, 222, 179, 0.24);
  border-radius: 10px;
  color: peachpuff;
}
/* styling our menu button for responsive*/
.menu-btn {
  color: papayawhip;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
/*home section styling and add bg image*/
.home {
  display: flex;
  background: url("../portfolio/images/banner.jpg") center no-repeat;
  height: 100vh;
  color: wheat;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
/*this styling will affect the p position*/
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-1 p {
  text-transform: capitalize;
}
.home .home-content .text-2 {
  font-size: 65px;
  font-weight: 600px;
  margin-left: -30px;
}
.home .home-content .text-2 p {
  text-transform: uppercase;
}
.home .home-content .text-3 {
  font-size: 46px;
  margin: 5px 0;
}
.home .home-content .text-3 p {
  text-transform: capitalize;
}
.home .home-content .text-3 p span {
  color: tomato;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: rgba(255, 99, 71, 0.678);
  margin: 20px;
  padding: 3px 3px;
  outline: none;
  border-radius: 10px;
  transition: 0.5s ease;
}
.home .home-content a span {
  color: wheat;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}
.home .home-content a:hover {
  background: rgba(220, 20, 60, 0.719);
  transform: translateX(5%);
}
.home .home-content a span:hover {
  color: rgba(102, 205, 171, 0.664);
}
/*all related title*/
/*changing about title into both service and about*/
section {
  padding: 90px 0;
}
.about,
.services,
.skills,
.teams,
.contact,
footer {
  font-family: "poppins", sans-serif;
}
.services .serv-content,
.about .about-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section .title {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  padding-bottom: 40px;
  margin-bottom: 20px;
  color: darkgoldenrod;
}
section .title::before {
  content: "";
  height: 3px;
  width: 180px;
  background: rgba(255, 99, 71, 0.678);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 18px;
  padding: 5px;
  background: white;
  color: black;
  transform: translateX(-50%);
}
/*about section sytling */

.about .title::after {
  content: "who i am";
}

.about-content .about-content .left {
  width: 45%;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right .text {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.about .about-content .right .text span {
  color: rgba(255, 99, 71, 0.726);
}
.about .about-content .right p {
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  text-align: justify;
  margin-bottom: 10px;
}
.about .about-content .right a {
  display: inline-block;
  background: rgba(0, 128, 128, 0.397);
  margin: 20px;
  font-size: 21px;
  color: steelblue;
  padding: 3px 3px;
  outline: none;
  border-radius: 14px;
  transition: 0.5s ease;
  box-shadow: none;
}
.about .about-content .right a:hover {
  box-shadow: 13px 14px 15px steelblue;
  cursor: pointer;
  color: white;
  transform: translate(5%, -5%);
}
/*services section styling*/
.services,
.teams {
  color: antiquewhite;
  background: #111;
}
.services .title::before,
.teams .title::before {
  background: antiquewhite;
}
.services .title::after {
  background: #111;
  color: rgba(255, 99, 71, 0.74);
  content: "what i provide";
}
.services .serv-content .card {
  margin: 10px 20%;
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.6s ease-in;
}
.services .serv-content .card:hover {
  width: calc(45% - 20px);
  background: rgba(255, 99, 71, 0.801);
  color: wheat;
}
.services .serv-content .card .box {
  transition: all 0.3 ease;
}
.services .serv-content .card i {
  font-size: 50px;
  color: tomato;
  transition: color 0.3s ease;
}
.services .serv-content .card i:hover {
  color: wheat;
}
.services .serv-content .card .text {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.services .serv-content .card p {
  text-transform: capitalize;
}
/* skills section styling*/
.skills .title::after {
  content: "what i know";
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: rgba(0, 128, 128, 0.397);
  margin: 20px;
  font-size: 21px;
  color: steelblue;
  padding: 3px 3px;
  outline: none;
  border-radius: 10px;
  transition: 0.5s ease;
  box-shadow: none;
}
.skills .skills-content .left a:hover {
  box-shadow: 13px 14px 15px steelblue;
  cursor: pointer;
  color: white;
  transform: translate(5%, -5%);
  border: solid 1px rgba(0, 128, 128, 0.397);
  background: steelblue;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-family: "poppins", sans-serif;
  font-size: 18px;
  padding-bottom: 2px;
}
.skills .skills-content .right .line {
  margin-top: 2px;
  height: 5px;
  width: 100%;
  position: relative;
  background: lightgray;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 50%;
  left: 0;
  top: 0;
  background: tomato;
}
.skills-content .right .html::before {
  width: 50%;
  cursor: pointer;
}
.skills-content .right .css::before {
  width: 60%;
}
.skills-content .right .js::before {
  width: 60%;
}
.skills-content .right .cs::before {
  width: 70%;
}

/*team section styling*/
.teams .title::after {
  content: "who is with me";
}
.teams .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.teams .carousel .card:hover {
  background: rgba(255, 99, 71, 0.582);
}
/*align the hole items */
.teams .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}
/*it only scale our image and text*/
.teams .carousel .card:hover .box {
  transform: scale(1.05);
}
/*set the title */
.teams .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  transition: 0.5s ease-in-out;
}
.teams .carousel .card .text:hover {
  color: darkgray;
}
.teams .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid tomato;
}
.teams .carousel .card:hover img {
  border-color: crimson;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background: tomato;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid rgba(255, 99, 71, 0.747) !important;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: rgba(255, 99, 71, 0.781) !important;
  box-shadow: 2px 3px 3px 3px rgba(255, 99, 71, 0.308);
}
/*contact section styling*/
.contact .title::after {
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 10px 20px;
}
.contact .contact-content .left {
  background: transparent;
  border-radius: 9px;
  transition: all 0.5s ease;
}
.contact .contact-content .left:hover {
  box-shadow: 3px 3px 4px 5px rgba(0, 0, 0, 0.438);
  background: rgba(64, 224, 208, 0.253);
  transform: scale(1.06);
}

.contact .contact-content .left p {
  padding: 20px 10px;
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .left .icons .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  margin-left: 8px;
  font-size: 25px;
  color: rgba(255, 99, 71, 0.774);
}
.contact .contact-content .info .head {
  text-transform: capitalize;
  font-weight: 500;
}
.contact .contact-content .info .head span {
  color: tomato;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
}
.contact .right .textarea {
  height: 80px;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .textarea textarea {
  padding: 10px;
  margin-left: -10px;
  resize: none;
}
.contact .right form .textarea textarea,
.contact .right form .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightsalmon;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.contact .right form .button {
  margin-top: 20px;
  height: 47px;
  width: 100%;
}
.contact .right form .button button {
  width: 30%;
  height: 100%;
  border: 1px tomato solid;
  background: rgba(220, 20, 60, 0.411);
  outline: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  transition: all ease 0.6s;
}

.contact .right form .button button:hover {
  transform: translatex(2%);
  box-shadow: 3px 4px 5px 5px rgba(0, 0, 0, 0.171);
  background: rgba(255, 99, 71, 0.788);
  color: antiquewhite;
  cursor: pointer;
}
footer {
  background: transparent;
  padding: 20px 23px;
  color: rgba(0, 0, 0, 0.411);
  transition: 0.5s all ease-in-out;
}
footer:hover {
  background: #111;
  color: antiquewhite;
}
footer span a {
  color: rgba(255, 99, 71, 0.548);
  text-decoration: none;
  transition: 0.5s all ease;
}
footer span a:hover {
  cursor: pointer;
  color: crimson;
}

/*responsice media query menu button*/
@media (max-width: 1045px) {
  .home .max-width {
    margin-left: 0;
  }
}
@media (max-width: 1033px) {
  .about .about-content .left img {
    height: 300px;
    width: 300px;
  }
  .services .serv-content .card {
    width: calc(100% - 20px);
  }
}
@media (max-width: 999px) {
  .about .about-content .left img {
    height: 300px;
    width: 300px;
  }
  .services .serv-content .card {
    width: calc(100% - 20px);
  }
}
@media (max-width: 815px) {
  .about .about-content .left img {
    height: 240px;
    width: 240px;
  }
}
@media (max-width: 741px) {
  .about .about-content .left img {
    height: 250px;
    width: 250px;
  }
  .services .serv-content .card,
  .skills .skills-content .column {
    width: calc(50% - 10px);
  }
}
@media (max-width: 742px) {
  .max-width {
    padding: 0px 50px;
  }
}

@media (max-width: 650px) {
  .navbar .menu-btn {
    display: block;
    z-index: 752;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    padding: 80px;
    background: rgb(0, 0, 0);
    transition: all 0.5s ease-out;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: flex;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 15px auto;
    font-size: 22px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 40px;
    padding: 5px 10px;
  }
  .home .home-content a span {
    font-size: 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-self: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(70% - 10px);
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
  .max-width {
    padding: 0 60px;
  }
  .home .home-content .text-2 {
    font-size: 35px;
  }
  .home .home-content .text-3 {
    font-size: 30px;
  }
  .home .home-content a {
    font-size: 25px;
    padding: 3px 6px;
  }
  .home .home-content a span {
    font-size: 25px;
  }
  .services .serv-content .card {
    width: calc(100% - 10px);
  }
  .services .serv-content .card .text {
    text-justify: newspaper;
  }
  .services .serv-content .card {
    margin-left: 10%;
    width: calc(100% - 2px);
  }
}

@media (max-width: 420px) {
  .home .home-content .text-2 {
    font-size: 23px;
  }
  .home .home-content .text-3 {
    font-size: 22px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 2px 4px;
  }
  .home .home-content a span {
    font-size: 17px;
  }
  .services .serv-content .card {
    width: calc(100% - 20px);
  }
}
